:root {
    --container-max-width:  1080px;

    --clr-primary-100: #ffffff;
    --clr-primary-99:  #fffbff;
    --clr-primary-98:  #fdf8ff;
    --clr-primary-95:  #f4eeff;
    --clr-primary-90:  #e6deff;
    --clr-primary-80:  #c9beff;
    --clr-primary-70:  #ae9eff;
    --clr-primary-60:  #9380f1;
    --clr-primary-50:  #7966d5;
    --clr-primary-40:  #604cba;
    --clr-primary-35:  #543fad;
    --clr-primary-30:  #4832a1;
    --clr-primary-25:  #3c2495;
    --clr-primary-20:  #31148a;
    --clr-primary-10:  #1b0062;
    --clr-primary-0:   #000000;

    --clr-secondary-100: #ffffff;
    --clr-secondary-99:  #fffbff;
    --clr-secondary-98:  #fdf8ff;
    --clr-secondary-95:  #f4eeff;
    --clr-secondary-90:  #e6dff9;
    --clr-secondary-80:  #c9c3dc;
    --clr-secondary-70:  #aea8c0;
    --clr-secondary-60:  #938ea5;
    --clr-secondary-50:  #79748b;
    --clr-secondary-40:  #605c71;
    --clr-secondary-35:  #545065;
    --clr-secondary-30:  #484459;
    --clr-secondary-25:  #3c394d;
    --clr-secondary-20:  #312e41;
    --clr-secondary-10:  #1c192b;
    --clr-secondary-0:   #000000;

    --clr-tertiary-100: #ffffff;
    --clr-tertiary-99:  #fffbff;
    --clr-tertiary-98:  #fff8f8;
    --clr-tertiary-95:  #ffecf1;
    --clr-tertiary-90:  #ffd8e6;
    --clr-tertiary-80:  #edb8cc;
    --clr-tertiary-70:  #d09db1;
    --clr-tertiary-60:  #b38396;
    --clr-tertiary-50:  #976a7d;
    --clr-tertiary-40:  #7c5264;
    --clr-tertiary-35:  #6f4658;
    --clr-tertiary-30:  #623b4c;
    --clr-tertiary-25:  #553040;
    --clr-tertiary-20:  #482535;
    --clr-tertiary-10:  #301120;
    --clr-tertiary-0:   #000000;

    --clr-primary:       #6855c3;
    --clr-header:        var(--clr-secondary-30);
    --clr-header-subtle: var(--clr-secondary-50);
    --clr-text:          #333;
    --clr-text-subtle:   #808080;
    --clr-bg:            #f4f4f4;
    --clr-bg-alt:        #e6e6e6;
    --clr-border:        #b3b3b3;
    --clr-link:          #16c;
    --font-primary:      sans-serif;
    --font-mono:         monospace;
}

* {
    box-sizing: border-box;
}
.flex {
    flex: 1;
}

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font-primary);
    font-size: 12pt;
    letter-spacing: -0.02em;
    color: var(--clr-text);
}
.container {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    // justify-content: start;
    // align-items: flex-start;
    align-items: stretch;
    position: relative;
    max-width: var(--container-max-width);
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}
footer {
    margin-top: 48px;
    font-size: 0.9rem;
    color: var(--clr-text-subtle);
}

main {
    flex: 1;
    min-width: 0; // fixes the pre-caused overflow
    padding: 8px 16px 24px;
    word-break: break-word;
}

header {
    display: flex;
    background-color: var(--clr-bg);
    border-bottom: solid 1px var(--clr-border);
    padding: 8px 16px;

    h1 {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        font-size: 1.5rem;
        font-weight: bold;

        a {
            display: flex;
            align-items: center;
            gap: 12px;
            // padding: 8px;
            text-decoration: none;
            color: var(--clr-text);
            
            img {
                width: 40px;
            }
        }
    }

    nav {
        display: flex;
        gap: 16px;

        a {
            height: 20px;
            margin: 0;
            padding: 0;
            background-color: transparent !important;
            font-size: 1.1em;

            svg {
                width: 20px;
                fill: var(--clr-text);
            }
        }
    }
}

aside {
    // position: sticky;
    // top: 0px;
    width: 290px;
    // height: 100vh;
    // width: 50%;
    overflow-y: scroll;
    word-wrap: break-word;
    // background-color: var(--clr-bg);
    border-right: solid 1px var(--clr-border);

    header {
        margin: 24px 0 32px;
    }

    a {
        display: block;
        padding: 8px 4px 8px 12px;
        font-size: 0.95em;
        text-decoration: none;
    
        &.active {
            font-weight: bold;
            // border-radius: 4px 0 0 4px;
        }
    }

    > a {
        color: var(--clr-secondary-20);
    }
}
nav {
    padding: 12px;
    font-size: 0.9rem;

    a {
        color: var(--clr-text);
        padding: 4px 4px 4px 12px;
        border-radius: 4px;

        &:hover {
            color: var(--clr-text);
            background-color: var(--clr-bg-alt);
        }
        &.active {
            color: #fff;
            background-color: var(--clr-primary);
        }
    }
}
nav details {
    summary {
        display: flex;
        padding: 8px 4px 8px 12px;
        color: var(--clr-secondary-20);
        font-weight: bold;
        cursor: pointer;

        img {
            width: 20px;
        }
        .expand {
            display: block;
        }
        .collapse {
            display: none;
        }
    }

    &[open] {
        padding-bottom: 8px;
    
        summary {
            .expand {
                display: none;
            }
            .collapse {
                display: block;
            }
        }
    }
}

.nav__title {
    color: var(--clr-primary);
    font-weight: bold;
}
h1 {
    margin: 4px 0 32px;
    // font-size: 2rem;
    font-weight: normal;
    color: var(--clr-header);
}
h2 {
    margin: 64px 0 24px;
    color: var(--clr-header);
}
h3 {
    margin: 48px 0 24px;
    color: var(--clr-header);
}
h4 {
    margin: 48px 0 24px;
}
h5 {
    margin: 48px 0 24px;
}
p {
    margin: 24px 0;

    &.subtitle {
        margin: 24px 0 4px;
        font-size: 1.2em;
        color: var(--clr-header-subtle);
    
        a {
            color: var(--clr-header-subtle);
        }
    }
}
a {
    color: var(--clr-link);
}
ul {
    margin: 24px 0;
}
ul ul {
    margin: 0;
    padding-left: 32px;
}
code {
    padding: 0 4px;
    font-size: 0.85rem;
    // background-color: #f2f2f2;
    // border: solid 1px #999;
    background-color: var(--clr-bg) !important;
    border: solid 1px var(--clr-border);
    font-family: var(--font-mono);
}
pre {
    padding: 0;
    background-color: var(--clr-bg) !important;
    border: solid 1px var(--clr-border);
    // border: solid 2px #f2f2f2;

    code {
        display: block;
        margin: 0 8px;
        padding: 8px 0;
        background-color: transparent;
        border: 0;
        font-size: 0.9rem;
        overflow-x: auto;
    }
}
blockquote {
    margin-left: 0;
    padding-left: 2rem;
    border-left: solid 2px var(--clr-primary);
}
img {
    max-width: 100%;
}
img.small {
    max-width: 128px;
}

table {
    width: 100%;
    border-spacing: 0;
    border: 1px solid #d2d2d2;
    
    th {
        padding: 8px;
    }
    td {
        padding: 8px;
        border-top: 1px solid #d2d2d2;
    }
}
.table-container--errors {
    table {
        th:nth-child(1) {
            width: 40%;
        }
        th:nth-child(2) {
            width: 40%;
        }
        th:nth-child(3) {
            width: 20%;
        }
    }
}

.select-all {
    user-select: all;
}

.toc {
    padding: 16px 0;
    // background-color: #f9f9f9;
    background-color: var(--clr-bg);
    // border: solid 2px #f2f2f2;
    border: solid 1px var(--clr-border);

    ul {
        margin: 0;

        li {
            line-height: 1.6em;
        }
    }
}

.info::before {
    content: "i";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 32px;
    background-color: hsl(200, 100%, 75%);
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
}
.info {
    position: relative;
    padding: 6px 6px 6px 40px;
    background-color: hsl(200, 100%, 97%);
    // border: solid 2px hsl(200, 100%, 75%);
}
div.info *:first-child {
    margin-top: 0;
}
div.info *:last-child {
    margin-bottom: 0;
}
.warning::before {
    content: "!";
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 32px;
    background-color: hsl(40, 100%, 75%);
    color: #fff;
    font-size: 1.7rem;
    font-weight: bold;
    
}
.warning {
    position: relative;
    padding: 6px 6px 6px 40px;
    background-color: hsl(40, 100%, 97%);
    // border: solid 2px hsl(40, 100%, 75%);
}

.color-showcase {
    display: inline-block;
    width: 100px;
    padding: 4px 8px;
    margin-right: 8px;
    text-align: center;
    border: solid 1px #000;
    user-select: all;
}
.color-showcase.dark {
    color: #fff;
}

.badge--codeberg {
    width: 128px;
}

.widget {
    padding: 8px;
    margin-bottom: 16px;
    background-color: #e7fff2;
    border: dashed 2px #cee9db;

    .title {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: 8px;
        color: #006c50;
    }
    label {
        display: block;
        margin-top: 4px;
    }
    label + input, label + select, button + select {
        margin-top: 4px;
    }
    input, select {
        width: 100%;
        max-width: 40rem;
        margin: 8px 0;
        font-size: 1rem;
        background-color: #fff;
        border: solid 2px var(--clr-border);
        border-radius: 4px;
        
        &:not([disabled]):hover {
            background-color: var(--clr-bg-alt);
            border-color: var(--clr-border);
        }
        
        &[disabled] {
            border-color: var(--clr-bg-alt);
        }

        &[type="button"] {
            background-color: #eee;
            
            &:hover {
                background-color: #ddd;
            }
        }
    }
    button {
        display: block;
        max-width: auto;
        min-width: 10rem;
        margin: 8px 0;
        padding: 2px;
        font-size: 1rem;
        background-color: var(--clr-primary-98);
        border: solid 2px var(--clr-primary-80);
        border-bottom-width: 4px;
        border-radius: 4px;
        cursor: pointer;
        
        &:not([disabled]):hover {
            background-color: var(--clr-primary-95);
            border-color: var(--clr-primary-70);
        }
        
        &[disabled] {
            border-color: var(--clr-secondary-90);
            cursor: default;
        }
    }
    output {
        display: block;
        margin-top: 12px;
        font-family: monospace;
        line-height: 1.5em;

        &.feedback {
            padding: 8px;
            background-color: var(--clr-tertiary-100);
            border: dashed 2px var(--clr-tertiary-70);
            font-family: sans-serif;

            h4 {
                margin: 32px 0 16px;
                font-size: 1.2em;
                color: var(--clr-header);
            }
            p {
                margin: 16px 0;
            }

            :first-child {
                margin-top: 0;
            }
            :last-child {
                margin-bottom: 0;
            }
        }

        &:empty {
            display: none;
        }

        span.select-all {
            color: #006c50;
            color: var(--clr-tertiary-30);
            text-decoration: dashed underline;
            cursor: pointer;

            &:hover {
                text-decoration: solid underline;
            }
        }

        span.detail {
            margin-right: 8px;
            color: #006c50;
            font-size: 0.9rem;
            user-select: none;
        }
    }
    fieldset {
        padding: 8px;
        margin: 0 0 16px;
        background-color: #f5fff9;
        border: dashed 2px #cee9db;
        
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.quick-links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        gap: 8px;
        min-width: 180px;
        padding: 16px;
        border: solid 1px var(--clr-border);
        background-color: var(--clr-bg);

        img {
            width: 32px;
            pointer-events: none;
        }

        span {
            text-align: center;
        }
        
        &:hover {
            background-color: var(--clr-bg-alt);
        }
    }
}
.logo-links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        flex: 0 0 auto;
        gap: 8px;
        width: 180px;
        min-height: 120px;
        padding: 16px;
        border: solid 2px var(--clr-border);
        background-color: var(--clr-bg);

        img {
            max-width: 100%;
            max-height: 50px;
            pointer-events: none;
        }

        span {
            text-align: center;
        }
        
        &:hover {
            background-color: var(--clr-bg-alt);
        }
    }
}

.language-selector {
    a {
        margin: 0 8px 4px 0;
        padding: 4px 12px;
        background-color: var(--clr-bg);
        border: solid 1px var(--clr-border);
        border-radius: 4px;

        &:hover {
            background-color: var(--clr-bg-alt);
        }
    }
}

.small-screen {
    display: none;
}
.large-screen {
    display: block;
}

@media screen and (max-width: 720px) {
    .small-screen {
        display: block;
    }
    .large-screen {
        display: none;
    }
    .container {
        flex-direction: column;
    }
    header {
        h1 {
            font-size: 1.2em;
            
            a img {
                width: 32px;
            }
        }

        nav {
            gap: 8px;
            padding-right: 0;
        }
    }
    aside {
        width: 100%;
        height: auto;
        padding: 16px;

        nav {
            padding: 0;
        }
    }
}
@media screen and (max-width: 380px) {
    header {
        flex-direction: column;
        gap: 4px;

        nav {
            padding: 0;
            justify-content: end;
        }
    }
}