<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ section.title }}{% endblock title %}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/favicon.svg" type="image/svg">
    {% block rss %}
        <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
    {% endblock %}
</head>
<body>
    
    <header>
        <h1>
            <a href="/">
                {% set image = resize_image(path="/logo_circle_1024.png", width=64, op="fit_width") %}
                <img src="{{ image.url }}" title="Keyoxide logo" />
                {{ trans(key="nav_title", lang=lang) }}
            </a>
        </h1>
        <div class="flex"></div>
        <nav>
            <a href="https://keyoxide.org" aria-label="Keyoxide project">Project</a>
            <a href="https://docs.keyoxide.org" aria-label="Keyoxide Docs">Docs</a>
            <a href="https://codeberg.org/keyoxide" aria-label="Codeberg">
                {% set icon = load_data(path="static/codeberg.svg") %}
                {{ icon | safe }}
            </a>
            <a href="https://matrix.to/#/#keyoxide:matrix.org" aria-label="Matrix">
                {% set icon = load_data(path="static/matrix.svg") %}
                {{ icon | safe }}
            </a>
            <a href="https://fosstodon.org/@keyoxide" aria-label="Mastodon">
                {% set icon = load_data(path="static/mastodon.svg") %}
                {{ icon | safe }}
            </a>
            <a href="https://opencollective.com/keyoxide" aria-label="OpenCollective">
                {% set icon = load_data(path="static/opencollective.svg") %}
                {{ icon | safe }}
            </a>
        </nav>
    </header>

    <div class="container">
        <main>
            {% block header %}<h1>{{ section.title }}</h1>{% endblock header %}
            {% block content %}{{ section.content | safe }}{% endblock content %}

            <footer>
                <p>
                    Content licensed under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="nofollow">CC BY-NC-SA 4.0</a>.
                    <br>
                    Last updated: {{ now(utc=true) | date(format="%Y-%m-%d %H:%M") }} UTC
                </p>
            </footer>
        </main>
    </div>

</body>
</html>