{% extends "index.html" %}

{% block title %}
    Blog — {{ page.title | safe }}
{% endblock title %}

{% block header %}
    <p class="subtitle">
        <a href="/">Back to posts</a></p>
    <h1>{{ page.title | safe }}</h1>
{% endblock header %}

{% block content %}
    <p>
        Posted on {{ page.date | truncate(length=10, end="") }}
    </p>

    {{ page.content | safe }}
{% endblock content %}