{% extends "index.html" %}

{% block title %}
    {{ section.title }}
{% endblock title %}

{% block header %}
    <p class="subtitle">&nbsp;</p>
    <h1>{{ section.title }}</h1>
{% endblock header %}

{% block content %}
    {{ section.content | safe }}

    {% for post in section.pages %}
    <p class="list-entry">
        <a href="{{ post.permalink }}">{{ post.title | safe }}</a>
        <br>
        {{ post.date | truncate(length=10, end="") }}
    </p>
    {% endfor %}
{% endblock content %}